body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Fira Sans', 'sans-serif';
}

.gap {
  margin-top: 40px;
}
.quotes {display: none;}


// landing page styling
.front-page {
  
  height: 100vh;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  color: black;
  h1 {
    text-shadow: 3px 3px 0px white, -2px 1px 30px white;
    font-weight: bold;
  }

  p {
    font-size: 40px;
    text-shadow: 3px 3px 0px white, -2px 1px 30px white;
    font-weight: bold;
  }

  .white-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 60px;
    width: 140px;
    border: 4px solid white;
    font-weight: bold;
    float:right;
    margin-right: 10px;
    border-radius: 5px;
    text-shadow: 0px 0px 8px black, 1px 0px 2px white;
    &:hover {
      background-color: white;
      color: grey;
      text-shadow: none;
    }
  }

  a {
    color: white;
  }
}

.orange-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 60px;
  width: 140px;
  font-weight: bold;
  background-color: #3FAEFD;
  border-radius: 5px;
  float:right;
  -webkit-transition: background-color 0.75s, color 0.75s;
  transition: background-color 0.75s, color 0.75s;
  &:hover {
    background-color: #FEDC37;
  }
}

.projetos {
  background-color:#F4F4F4;
  color: black;
  padding: 10px;
  h2 {
    text-align: center;
  }
}


.tempo-real {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background: #008CEA;
  color: white;
}


.image-strip {
  font-size: 60px;
  font-weight:400;
  /* The image used */
  background-image: image-url("image-strip.png");

  /* Set a specific height */
  height: 180px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.graficos {
  h3 {
    text-align: center;
  }
}
