<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between font-weight-bold">
  <div class="d-flex">
    <%= image_tag "logo-106x106.png", class: "nav-img"  %>
    <%= image_tag "logo_remo.png", class: "nav-img"  %>    
  </div>
  <div class="container d-flex justify-content-right">
    <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#projetos">PROJETOS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tempo-real">DADOS EM TEMPO REAL</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#graficos">GRÁFICOS</a></span>
  </div>
  <div class="container d-flex justify-content-end">
    <span class="text"><a href="#home">LOGIN</a></span>
  </div>  
</div>