<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-brand">
    <%= link_to image_tag("logo_pnboia.png", class: "nav-img p-0"), "https://www.marinha.mil.br/chm/dados-do-goos-brasil/pnboia-mapa", target: :_blank %>
    <%= link_to image_tag("logo_remo.png", class: "nav-img p-0"), "http://www.fis.ufba.br/rede-de-modelagem-e-observacao-oceanografica-remo", target: :_blank %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to image_tag("brazil_flag.png", class: "flag p-0", title: 'Versão em Português'),  root_path%>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projetos">PROJECT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tempo-real">REAL TIME DATA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#graficos">GRAPHS</a>
      </li>
    </ul>
  </div>
</div>
