<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between">
  <div class="container d-flex justify-content-left">
    <span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#projetos">PROJETOS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tempo-real">LOCAIS DE FUNDEIO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#tempo-real">DADOS EM TEMPO REAL</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#graficos">GRÁFICOS</a></span>
  </div>
  <div class="container d-flex justify-content-end">
    <span class="text"><a href="#home">LOGIN</a></span>
  </div>  
</div>