<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between">  
  <div class="d-flex justify-content-left">
    <span class="text"><a href="#home">LOCALIZAÇÃO</a><a href="#about-me">DADOS EM TEMPO REAL</a><a href="#summary">GRÁFICOS</a><a href="#projects">PROJETOS</a><a href="#contact-me">EQUIPAMENTOS</a></span>
  </div>  
  <div class="d-flex justify-content-right">
    <span class="text"><a href="#home">LOGIN</a></span>
  </div>  
</div>