<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between">  
  <div class="d-flex justify-content-left">
    <span class="text"><a href="#projetos">Projetos</a><a href="#tempo-real">Locais de Fundeio</a><a href="#tempo-real">Dados em tempo real</a><a href="#graficos">Gráficos</a></span>
  </div>  
  <div class="d-flex justify-content-right">
    <span class="text"><a href="#home">Login</a></span>
  </div>  
</div>