// navigation bar styling
.navbar {
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.0);
  -webkit-transition: background-color 2s ease-in;
   -moz-transition: background-color 2s ease-in;
    -ms-transition: background-color 2s ease-in;
     -o-transition: background-color 2s ease-in;
        transition: background-color 2s ease-in;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000;
  color: white !important;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
 
  .flag{
    height: 25px;
    width: 25px;
  }
  .text {
    margin-top: 13px;
    font-size: 100%;    
  }

  
}

.nav-item {
  a, div {
    color: white !important;;
    font-size: 100%;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.75s;
    transition: border-bottom 0.75s;
    &:hover {
      border-bottom: 1px solid #3FAEFD;
    }
  }

}
.nav-link{
  padding: 0rem;  
}

.nav-bg {
  background-color:rgba(0, 0, 0, 0.3);
}

.nav-img{
  height: 50px;
  width: auto;
  margin-left: 10px;
  .img { max-width: 100%; height: auto; }
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.login-navbar {
  margin-right: 0px; 
}

.login-button{
  text-decoration: none !important;
}

@media (min-width: 320px) { 
  .navbar {
    font-size:12px;
  } 
  .nav-img{
    height: 30px;
  }
} 
@media (min-width: 640px) { 
  .navbar {
    font-size:16px;
  } 
  .nav-img{
    height: 40px;
  }
} 
@media (min-width: 960px) { 
  .navbar {
    font-size:16px;
  } 
  .nav-img{
    height: 50px;
  }
} 
@media (min-width: 1100px) { 
  .navbar {
    font-size:16px;
  } 
  .nav-img{
    height: 50px;
  }
} 